/* Border Left */

.border-left-primary {
    border-left: 5px solid rgb(45, 45, 151);
}

.border-left-danger {
    border-left: 5px solid rgb(187, 36, 36);
}

.border-left-warning {
    border-left: 5px solid rgb(233, 165, 39);
}

.border-left-success {
    border-left: 5px solid rgb(48, 151, 48);
}

/* End Of Border Left */

/* Text Color */

.txt-color {
    color: rgb(45, 45, 151);
}

.txt1-color {
    color: rgb(187, 36, 36);
}

.txt2-color {
    color: rgb(233, 165, 39);
}


.txt3-color {
    color: rgb(48, 151, 48);
}

/* End Of Text Color */


/* Cards */

.card {
    border-radius: 15px;
}

/* End Of Cards */