<div class="container">
   <h2>{{ title | uppercase }}</h2>
   <form class="layout mt-5 shadow" #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" novalidate>
      <div class="row">
         <div class="col-xl-12">
            <div class="form-group">
               <label>Username</label>
               <input type="text" name="username" class="form-control" ngModel required/>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12">
            <div class="form-group">
               <label>Password</label>
               <input type="password" name="password" class="form-control" ngModel required/>
            </div>
         </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>