<div class="container">
   <h2>{{ title | uppercase }}</h2>
   <div *ngIf="invalidCredentialMsg" [ngClass]="error">{{invalidCredentialMsg}}</div>
   <form class="layout mt-5 shadow" #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" novalidate>
      <div class="row">
         <div class="col-xl-12">
            <div class="form-group">
               <label>Username</label>
               <input type="text" name="username" class="form-control" ngModel required minlength="5"
                  #username="ngModel" [ngClass]="{'is-invalid': submitted && username.errors}" />
               <div *ngIf="username.invalid && (username.dirty || username.touched || submitted)" class="invalid-msg">
                  <p *ngIf="username.errors?.required">
                     Username required.
                  </p>
                  <p *ngIf="username.errors?.minlength">
                     Username must be more than 5 characters.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12">
            <div class="form-group">
               <label>Password</label>
               <input type="password" name="password" class="form-control" ngModel required #password="ngModel"
                  [ngClass]="{'is-invalid': submitted && username.errors}" />
               <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="invalid-msg">
                  <p *ngIf="password.errors?.required">
                     Password required.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>