.layout {
    border: 0px solid grey;
    margin: 350px;
    padding: 50px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
}

@media (max-width: 1024px) {
    .layout {
        border: 0px solid grey;
        margin: 5px;
        padding: 50px;
    }
}